/* Header */
.header {
display: flex;
flex-direction: row;
width: 100%;
height: 69px;
border-bottom: 1px solid seashell;
background-color: black;
position: fixed;
z-index: 1;
margin-top: -8px;
}

.logo-container {
display: flex;
height: 50px;
width: auto;
margin-left: 10px;
margin-right: 50%;


}

.resize-logo {
display: flex;
height: 50px;
width: auto;
align-items: center;
}

.nav-container {
display: flex;
flex-direction: row;
align-items: center;
}

a, .nav {
display: flex;
flex-direction: row;
justify-content: end;
color: seashell;
text-decoration: underline;
margin-left: 20px;
}

/* Universal Styles */

body {
font-family: Helvetica;
font-size: 22px;
color: seashell;
background-color: black;
opacity: 0.9;
}

/* Mission Section */
.mission-container {
display: flex;
flex-direction: row;
background-image: url("../images/img-mission-background.jpg");
width: 1260px;
height: 700px;
background-repeat: no-repeat;
margin: 0px 30px 0px;
}

.banner {
display: flex;
flex-direction: column;
background-color: black;
width: 1260px;
height: 100px;
margin: auto;
z-index: 2;
align-items: center;
}

.mission-title {
display: flex;
flex-direction: row;
margin-top: 5px;
}

h4, .mission-statement {
display: flex;
flex-direction: row;
margin-top: -10px;
}

/* Tea Section Container */
.main-tea-container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 1000px;
height: 600px;
background-color: black;
}

.steep, .month {
display: flex;
flex-direction: row;
justify-content: center;
padding: 10px;
}

.fall-berry-container {
display: flex;
flex-direction: column;
}


.resize {
display: flex;
flex-direction: row;
width: 300px;
height: 200px;

}

.fall-berry-caption, .spiced-rum-caption, .donut-caption, .myrtle-caption, .bedford-caption {
display: flex;
flex-direction: row;
width: 300px;
height: 60px;
justify-content: center;
margin-top: 10px;
}